

body {
    margin: 0;
    padding: 0;
    background-image: url("C:/Users/Tauno/Webmob2024/webmob2024/src/Kuvia/black-and-gold-desktop-qsz2r17thuobr01j.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }


  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><rect width="30" height="2" fill="white"/><rect y="8" width="30" height="2" fill="white"/><rect y="16" width="30" height="2" fill="white"/><rect y="24" width="30" height="2" fill="white"/></svg>');
  }

